@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
    @apply text-3xl font-primary text-primary font-bold
}

.details {
    @apply text-xl font-primary text-secondary font-normal
}

.explore .slick-active .slide_items {
    @apply h-[486px] px-3
}

.explore .slick-active.slick-current .slide_items {
    @apply h-[582px]
}

.explore .slick-slider {
    @apply h-[582px]
}

.explore .slick-slider .slick-dots {
    display: flex !important;
    @apply gap-5
}

.explore .slick-slider .slick-dots {
    @apply absolute bottom-8 left-1/2
}

.explore .slick-slider .slick-dots li button {
    @apply text-[0px] w-3 h-3 rounded-full bg-[#D8D8D8]
}

.explore .slick-slider .slick-dots .slick-active button {
    @apply text-[0px] w-3 h-3 rounded-full bg-brand relative after:absolute after:w-7 after:h-7 after:top-1/2 after:left-1/2 after:-translate-y-1/2 after:-translate-x-1/2 after:border-2 after:border-brand after:rounded-full
}

.explore .slick-prev{
    @apply hidden;
}

.setup {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.setup img:first-child {
    grid-area: 1 / 1 / 5 / 2;
}

.setup img:nth-child(2) {
    grid-area: 5 / 1 / 9 / 3;
}

.setup img:nth-child(3) {
    grid-area: 2 / 2 / 5 / 6
}

.setup img:nth-child(4) {
    grid-area: 1 / 11 / 6 / 13
}

.setup img:nth-child(5) {
    grid-area: 3 / 6 / 7 / 8
}

.setup img:nth-child(6) {
    grid-area: 5 / 3 / 8 / 6
}

.setup img:nth-child(7) {
    grid-area: 2 / 8 / 6 / 11
}

.setup img:nth-child(8) {
    grid-area: 6 / 8 / 9 / 10
}

.setup img:nth-child(9) {
    grid-area: 6 / 10 / 8 / 12
}
.pagination-product li a{
    @apply py-4 px-6 bg-[#F9F1E7] rounded-xl
}
.pagination-product .selected a{
    @apply bg-brand
}
.pagination-product .previous{
    @apply hidden
}

.sideCard::-webkit-scrollbar {
    @apply w-2
  }
  
  /* Track */
  .sideCard::-webkit-scrollbar-track {
    @apply bg-[#F9F1E7] rounded-lg
  }
   
  /* Handle */
  .sideCard::-webkit-scrollbar-thumb {
  @apply bg-brand rounded-lg
  }
  